[submodule "libraries/DaisySP"]
	path = libraries/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "libraries/libDaisy"]
	path = libraries/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
